<!-- Nav hecho con bootstrap xd -->
<header>
    <div class="div-navbar">
        <h1>DIABEXPERT</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="">Diabetes</a></li>
                <li><a href="">Tipos</a></li>
                <li><a href="/diagnostico">Diagnostico</a></li>
                <!-- <li><a href="">Iniciar Sesión</a></li> -->
            </ul>
        </nav>
    </div>
</header>